.portfolio {
    height: 100vh;
    width: 100vw;
    background-color: #242727;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 15%;
    max-width: 85%;
    overflow: hidden;
}

.portfolio > span {
    color: #008ccf;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-top: 40px;
    height: 25%;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    filter: drop-shadow(0px 10px 9px black);
    transition: filter 2s ease, transform 0.5s ease;
    
}

.proyectos:hover {
    filter: drop-shadow(0px 25px 9px black) blur(3px);
    transform: translateY(-5px);
}


.proyectos > div > img {
    max-width: 300px;
    border-radius: 20px;
    margin: 10px;
}

@media screen and (max-width: 991px) {

    .portfolio {
        height: 100vh;
        width: 100%;
        left: 0;
        max-width: none;
        overflow: scroll;
    }

    .proyectos > div > img {
        max-width: 400px;
    }
    
    .portfolio > span {
        color: #008ccf;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 5px;
        margin-top: 40px;
        margin-bottom: 30px;
        height: 25%;
    }
}

@media screen and (max-width: 400px) {
    .proyectos > div > img {
        width: 90%;
    }
}